body {
  background-color: red;
  margin: 0;
  font-family: rubik;
  color: white;
}
.container {
  padding: 40px;
  margin: 0 auto;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
  color: yellow;
  
}
.card {
  list-style: none;
  padding: 40px;
  background-image: url(/pokedex-loading.png);
  background-position-y: -50px;
  background-position-x: -100px ;
  color: white;
  text-align: center;
  border-radius: 100px;
}
.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}
.card-subtitle {
  font-weight: lighter;
  color: goldenrod;
  margin-top: 5px;
}
.card-image {
  height: 200px;
  background-image: url(/cesped.jpeg);
  border-radius: 20px;
}
#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}
.card:hover {
  animation: bounce 0.5s linear;
}
@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}